<link rel="stylesheet" type="text/css" href="/css/user_sign_in.css">

<!--sign-in:action="/users/create-session"-->
<br><br>

<div>
    <h1> Sign_IN!</h1>
    <!--create-session for signedIn user: /users/create-session-->
    <form method="POST" action="/users/create-session">
        <input type="email" name="email" placeholder="Email" required/><br><br>
        <input type="password" name="password" placeholder="password" required/><br><br>
        <input type="submit" value="Sign In"/><br><br>
    </form>   
</div>

<br><br> 