<link rel="stylesheet" type="text/css" href="/css/user_sign_up.css">

<!--sign-up: action="/users/create-->
<br><br>

<div>
    <h1> SIGN_UP !</h1> 
    <!--create new account for signedUp user: /users/create-->
    <form method="POST" action="/users/create">
        <input type="text" name="name" placeholder="user name" required/><br><br>
        <input type="email" name="email" placeholder="Email" required/><br><br>
        <input type="password" name="password" placeholder="password" required/><br><br>
        <input type="password" name="confirm_password" placeholder="confirm password" required/><br><br>
        <input type="submit" value="Sign Up"/><br><br>
    </form>   
</div>

<br><br>